.box {
    float: left;
    width: 20px;
    height: 20px;
    padding: 10px;
    background: greenyellow;
    background-size:100% 100%;

}
.water {
    background: blue;
}
.wall {
    background: #151612;
}

.grass {
    background: green;
}

.healthUP {
    background: url('/images/healthUP.png');
    background-size:100% 100%;
}
.mystery {
    background: url('/images/mystery.png');
    background-size:100% 100%;
}

.speedUP {
    background: url('/images/speedUP.png');
    background-size:100% 100%;
}


.tank {
    float: left;
    background: url('/images/tank2.png');
    background-size:100% 100%;
    width: 20px;
    height: 20px;
    padding: 10px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}
.my_tank {
    float: left;
    background: url('/images/my_tank.png');
    background-size:100% 100%;
    width: 20px;
    height: 20px;
    padding: 10px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}

.left {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.down {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.up {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.right {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
.tank_stats {
    width: auto;
    height: auto;
    position: absolute;
    right: 10px;
    background: rgba(243, 226, 242, 0.60);
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 5px;
    text-align: center;

}
.tank_stats th {
    margin-left: 10px;
    text-align: center;
    color: #131313;
    font: "Times New Roman";
    font-weight: bold;
    font-size: 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.52);
}

.tank_stats td {
    text-align: center;
    color: #131313;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.52);
}

.tank_stats td:last-child {
    text-align: center;
    color: #131313;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.52);
}