.box {
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid gray;
    padding: 10px;
    background: greenyellow;
}
.water {
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid gray;
    padding: 10px;
    background: blue;
}
.wall {
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid gray;
    padding: 10px;
    background: #151612;
}

.grass {
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid gray;
    padding: 10px;
    background: green;
}

.tank {
    float: left;
    background: url('/images/tank2.png');
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid gray;
    padding: 10px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}
.my_tank {
    float: left;
    background: url('/images/my_tank.png');
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid gray;
    padding: 10px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}

.left {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.down {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.up {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.right {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}